
.type-animation {
  font-size: 2em; 
}

@media (max-width: 640px) {
  .type-animation {
    font-size: 1em; 
  }
}

.fade-image {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.fade-image.visible {
  opacity: 1;
}

.bottom-indicator-container {
  position: absolute;
  bottom: 2rem; 
  left: 53%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rounded-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #915eff; 
  color: white;
  font-size: 16px; /* Text size */
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px; 
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.rounded-btn:hover {
  box-shadow: 0 0 20px 5px rgba(135, 5, 255, 0.6); /* Glow effect */
  transform: scale(1.1);
}

.button-container {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.5rem; 
}

@media (max-width: 640px) {
  .button-container {
    left: 50%;
    top: 70%;
    position: relative;
    transform: translateX(-50%); /* Center the buttons horizontally */
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }

  .rounded-btn {
    width: 45%;
    height: 50px;
    font-size: 14px;
  }

}

.custom-toast .Toastify__toast {
  background-color: #915eff34 !important;
  color: rgb(255, 255, 255) !important;
  padding: 1rem !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  font-weight: bold;

}
